body {
    height: 100%;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

.big_container {
    display: flex;
    height: 100%;
}

.proper,
.coder {
    display: none;
    height: 70%;
    flex-direction: column;
    padding-left: 10px;
    overflow: scroll;
}

.bigger {
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 20%;
}

.selector {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.preview {
    display: flex;
    width: 80%;
    background-color: rgb(74, 72, 72);
    justify-content: center;
    align-items: center;
}

.dragger {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    padding: 20px;
    cursor: pointer;
    user-select: none;
}

.dragger::selection {
    background-color: transparent;
}

.c_p_s {
    width: auto;
}

.big_title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding-left: 10px;
    letter-spacing: 5px;
}

.c_p_s div {
    display: flex;
    background: white;
    justify-content: space-around;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid #00000021;
}

.layout {
    height: 30%;
    overflow: auto;
}

.layout .item {
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 24px;
    font-weight: lighter;
    font-family: verdana;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.layout .item img{
    width:20px;
}
.attr{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.parent_selector{
    color:black;
    border:1px solid rgba(0,0,0,0.2);
    height:30px;
    font-size:16px;
    outline:0;
    background-color:white;
}
.attr p,._innerText,label{
    font-size: 17px;
    font-family: verdana;
}
.sub_title{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
input:disabled{
    border-color: rgba(118, 118, 118, 0.3) !important;

}
._div_selector{
    display: flex;
    justify-content: space-between;
}
._innerText{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
._div_selector label{
    width: fit-content;
}
._div_selector select{
    width: 48%;
}
.attr input,.in_type{
    height: 20px;
    color: black;
    border: 1px solid black;
    outline: 0;
    background: white;
    border-radius: 4px;
}
._innerText{
    display: flex;
    justify-content: space-between;
}
.layout .item p {
    margin: 5px;
    padding: 0;
    user-select: none;
}

.c_p_s p {
    cursor: pointer;
    user-select: none;
}
.window {
    height: 80%;
    width: 80%;
    background-color: white;
    overflow: auto;
}
.html{
    display: none;
    flex-grow:1;
}
._generator{
    background-color: rgb(0, 81, 255);
    color: white;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.coder{
    justify-content: center;
}
textarea{
    width:98%;
    height:100%;
    resize:none;
    border:1px solid white;
    background:#000000eb;
}